doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .done {
          height: 20px;
          background-color: yellowgreen;
      }
      .undone {
          height: 20px;
          background-color: red;
      }
  body
    block content
